<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pension.sqlmap.mappers.administratorMapper">

	<select id="userCheck">
		SELECT *
		FROM administrator
		WHERE id = #{id} AND password = #{password}
	</select>
	
	<select id="getAccountInfo" resultType="com.pension.vo.AdministratorVO">
		SELECT bank, holder, number accountNumber
		FROM account
	</select>
	
	<insert id="insertAccountInfo">
		INSERT INTO account (bank, holder, number)
		VALUES (#{bank}, #{holder}, #{accountNumber})
	</insert>
	
	<delete id="deleteAccountInfo">
		DELETE
		FROM account
	</delete>

	<select id="getCustomerList" resultType="com.pension.vo.AdministratorVO">
		SELECT idx customerNo, name customerName, phone customerPhone
		FROM customer
		ORDER BY idx DESC
	</select>
	
	<select id="getReserveList" resultType="com.pension.vo.AdministratorVO">
		SELECT
			a.idx reserveNo, b.name roomName, a.check_in_time checkInTime, a.check_in_datetime checkInDate, 
			a.check_out_datetime checkOutDate, a.people_adult adult, a.people_child child, a.people_infant infant, 
			a.options `option`, a.message message, c.price price, c.payment_datetime paymentDatetime,
			c.depositor customerName, c.is_payment isPayment
		FROM reservation a
		JOIN room b ON a.room_no = b.idx
		JOIN reservation_status c ON a.idx = c.reserve_no
		ORDER BY a.idx DESC
	</select>
	
	<update id="updateReserveStatus">
		UPDATE reservation_status
		SET is_payment = 1
		WHERE reserve_no = #{reserveNo}
	</update>
	
	<select id="getRoomsList" resultType="com.pension.vo.AdministratorVO">
		SELECT
			name roomName, price roomPrice, price_fri roomFriPrice, price_sat roomSatPrice, price_mid_season roomMidPrice,
			price_busiest_season roomBusiestPrice, people_adult roomAdult, people_child roomChild, people_infant roomInfant,
			night roomNight, idx roomNo
		FROM room
	</select>
	
	<insert id="insertRoom">
		INSERT INTO room
		VALUES
			(0, #{roomName}, #{roomPrice}, #{roomFriPrice}, #{roomSatPrice}, #{roomMidPrice}, #{roomBusiestPrice}, 
			#{roomAdult}, #{roomChild}, #{roomInfant}, #{roomNight})
	</insert>
	
	<select id="getRoomsOptionList" resultType="com.pension.vo.AdministratorVO">
		SELECT a.idx roomOptionNo, b.name roomName, a.name roomOptionName, a.price roomOptionPrice
		FROM room_option a
		JOIN room b ON a.room_no = b.idx
		ORDER BY b.name, a.price ASC
	</select>
	
	<insert id="insertRoomOption">
		INSERT INTO room_option
		VALUES (0, #{roomNo}, #{roomOptionName}, #{roomOptionPrice})
	</insert>
	
	<delete id="deleteRoom">
		DELETE FROM room
		WHERE idx = #{roomNo}
	</delete>
	
	<delete id="deleteRoomOption">
		DELETE FROM room_option
		WHERE idx = #{roomOptionNo}
	</delete>
	
	<select id="getSeasonList" resultType="com.pension.vo.AdministratorVO">
		SELECT idx seasonNo, mid midDate, busiest busiestDate
		FROM season
	</select>
	
	<insert id="insertSeason">
		INSERT INTO season
		VALUES (0, #{midDate}, #{busiestDate})
	</insert>
	
	<delete id="deleteSeason">
		DELETE FROM season
		WHERE idx = #{seasonNo}
	</delete>
</mapper>
