<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pension.sqlmap.mappers.administratorMapper">

	<select id="userCheck">
		SELECT *
		FROM administrator
		WHERE id = #{id} AND password = #{password}
	</select>
	
	<select id="getAccountInfo" resultType="com.pension.vo.AdministratorVO">
		SELECT bank, holder, number accountNumber
		FROM account
	</select>
	
	<insert id="insertAccountInfo">
		INSERT INTO account (bank, holder, number)
		VALUES (#{bank}, #{holder}, #{accountNumber})
	</insert>
	
	<delete id="deleteAccountInfo">
		DELETE
		FROM account
	</delete>

	<select id="getCustomerList" resultType="com.pension.vo.AdministratorVO">
		SELECT idx customerNo, name customerName, phone customerPhone
		FROM customer
		ORDER BY idx DESC
	</select>
	
	<select id="getReserveList" resultType="com.pension.vo.AdministratorVO">
		SELECT
			a.idx reserveNo, b.name roomName, a.check_in_time checkInTime, a.check_in_datetime checkInDate, 
			a.check_out_datetime checkOutDate, a.people_adult adult, a.people_child child, a.people_infant infant, 
			a.options `option`, a.message message, c.price price, c.payment_datetime paymentDatetime,
			c.depositor customerName, c.is_payment isPayment
		FROM reservation a
		JOIN room b ON a.room_no = b.idx
		JOIN reservation_status c ON a.idx = c.reserve_no
		ORDER BY a.idx DESC
	</select>
	
	<update id="updateReserveStatus">
		UPDATE reservation_status
		SET is_payment = 1
		WHERE reserve_no = #{reserveNo}
	</update>
</mapper>
