<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pension.sqlmap.mappers.boardMapper">

	<insert id="insert">
		INSERT INTO ${board}(idx, name, password, subject, content, datetime, is_secret) VALUES(#{boardVO.idx}, #{boardVO.name}, #{boardVO.password}, #{boardVO.subject}, #{boardVO.content}, #{boardVO.datetime}, #{boardVO.is_secret})
	</insert>
	
	<select id="getList" parameterType="hashMap" resultType="com.pension.vo.BoardVO">
		SELECT * FROM ${board} ORDER BY idx DESC LIMIT #{pageVO.startRow}, #{pageVO.pageSize}
	</select>
	
	<select id="getWriteCount" resultType="java.lang.Integer">
		SELECT COUNT(idx) FROM ${board}
	</select>
	
	<select id="getContentPassword" resultType="java.lang.String">
		SELECT password FROM community_qna WHERE idx = #{idx}
	</select>

</mapper>
