<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pension.sqlmap.mappers.reserveMapper">
	
	<select id="getRoomList" resultType="com.pension.vo.ReserveVO">
		SELECT * FROM room
	</select>
	
	<select id="getRoomStatus" resultType="java.lang.Integer">
		SELECT idx FROM reservation WHERE room_no = #{roomNum} AND DATE_FORMAT(check_in_datetime, '%d') = #{day}
	</select>
	
	<select id="getRoomIsPayment" resultType="java.lang.Integer">
		SELECT is_payment FROM reservation_status WHERE reserve_no = #{roomNum}
	</select>
	
	<select id="getRoomName" resultType="java.lang.String">
		SELECT name FROM room WHERE idx = #{roomNum}
	</select>
	
	<select id="isMidSeason" resultType="java.lang.String">
		SELECT mid FROM season WHERE mid = #{date}
	</select>
	
	<select id="isBusiestSeason" resultType="java.lang.String">
		SELECT busiest FROM season WHERE busiest = #{date}
	</select>

</mapper>
