<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pension.sqlmap.mappers.reserveMapper">
	
	<select id="getRoomList" resultType="com.pension.vo.ReserveVO">
		SELECT *
		FROM room
	</select>
	
	<select id="getRoomStatus" resultType="java.lang.Integer">
		SELECT idx
		FROM reservation
		WHERE room_no = #{roomNum} AND check_in_datetime = #{date}
	</select>
	
	<select id="getRoomIsPayment" resultType="java.lang.Integer">
		SELECT is_payment
		FROM reservation_status
		WHERE reserve_no = #{roomNum}
	</select>
	
	<select id="getIsPass" resultType="java.lang.String">
		SELECT check_in_datetime
		FROM reservation
		WHERE room_no = #{room} AND check_in_datetime = #{checkOutDate}
	</select>
	
	<select id="getRoomNumber" resultType="java.lang.Integer">
		SELECT idx
		FROM room
		WHERE name = #{roomName}
	</select>
	
	<select id="getRoomName" resultType="java.lang.String">
		SELECT name
		FROM room
		WHERE idx = #{roomNum}
	</select>
	
	<select id="isMidSeason" resultType="java.lang.String">
		SELECT mid
		FROM season
		WHERE mid = #{date}
	</select>
	
	<select id="isBusiestSeason" resultType="java.lang.String">
		SELECT busiest
		FROM season
		WHERE busiest = #{date}
	</select>
	
	<select id="getNight" resultType="java.lang.Integer">
		SELECT night
		FROM room
		WHERE name = #{room}
	</select>
	
	<select id="getPeoples" resultType="com.pension.vo.ReserveVO">
		SELECT people_adult peopleAdult, people_child peopleChild, people_infant peopleInfant
		FROM room
		WHERE name = #{room}
	</select>
	
	<select id="getOptions" resultType="com.pension.vo.ReserveVO">
		SELECT b.idx optionIndex, b.name optionName, b.price optionPrice
		FROM room a
		JOIN room_option b
		ON a.idx = b.room_no 
		WHERE a.name = #{room};
	</select>
	
	<select id="getOptionName" resultType="java.lang.String">
		SELECT name
		FROM room_option
		WHERE idx = #{optionNum}
	</select>
	
	<select id="getRoomDefaultPrice" resultType="java.lang.Integer">
		SELECT price
		FROM room
		WHERE name = #{room}
	</select>
	
	<select id="getRoomFriPrice" resultType="java.lang.Integer">
		SELECT price_fri
		FROM room
		WHERE name = #{room}
	</select>
	
	<select id="getRoomSatPrice" resultType="java.lang.Integer">
		SELECT price_sat
		FROM room
		WHERE name = #{room}
	</select>
	
	<select id="getRoomMidSeasonPrice" resultType="java.lang.Integer">
		SELECT mid
		FROM season
		WHERE mid = #{date}
	</select>
	
	<select id="getRoomBusiestSeasonPrice" resultType="java.lang.Integer">
		SELECT busiest
		FROM season
		WHERE busiest = #{date}
	</select>
	
	<select id="getRoomMidSeasonPriceAdd" resultType="java.lang.Integer">
		SELECT price_mid_season
		FROM room
		WHERE name = #{room}
	</select>
	
	<select id="getRoomBusiestSeasonPriceAdd" resultType="java.lang.Integer">
		SELECT price_busiest_season
		FROM room
		WHERE name = #{room}
	</select>
	
	<select id="getOptionPrice" resultType="java.lang.Integer">
		SELECT price
		FROM room_option
		WHERE idx = #{optionNum}
	</select>
	
	<insert id="insertCustomer">
		INSERT
		INTO customer(name, phone)
		VALUES(#{name}, #{phone})
	</insert>
	
	<insert id="insertReserve">
		<selectKey keyProperty="roomNum,customerNum" resultType="com.pension.vo.ReserveVO" order="BEFORE">
			SELECT a.idx roomNum, b.idx customerNum
			FROM room a
			JOIN customer b
			ON b.name = #{customerName} AND b.phone = #{customerPhone}
			WHERE a.name = #{roomName}
		</selectKey>
		
		INSERT
		INTO reservation(room_no, customer_no, check_in_time, check_in_datetime, check_out_datetime, people_adult, people_child, people_infant, options, message)
		VALUES(#{roomNum}, #{customerNum}, #{checkInTime}, #{checkInDate}, #{checkOutDate}, #{peopleAdult}, #{peopleChild}, #{peopleInfant}, #{optionToString}, #{message})
	</insert>
	
	<insert id="insertReserveStatus">
		<selectKey keyProperty="reserveNum" resultType="java.lang.Integer" order="BEFORE">
			SELECT idx
			FROM reservation
			WHERE check_in_datetime = #{checkInDate}
			ORDER BY idx DESC
			LIMIT 1
		</selectKey>
	
		INSERT
		INTO reservation_status(reserve_no, depositor, price, payment_datetime, is_payment)
		VALUES(#{reserveNum}, #{customerName}, #{totalPrice}, #{paymentDatetime}, 0)
	</insert>
	
	<select id="getAccountInfo" resultType="hashMap">
		SELECT bank, holder, number
		FROM account
	</select>
	
	<select id="getReserveStatus" resultType="hashMap">
		SELECT is_payment, payment_datetime
		FROM reservation_status
		WHERE depositor = #{customerName} AND payment_datetime LIKE CONCAT('%' ,#{date}, '%')
	</select>

</mapper>
